## Python OOP - Data Structures 
- Owner: Philip Wong

#### [1] Lists (mutable)

In [1]:
# sample list
courses = ['History', 'Math', 'Physics', 'CompSci']
print(type(courses))

<class 'list'>

In [2]:
# specify location based on index
print(courses[-2:])

['Physics', 'CompSci']

In [3]:
# to add an item to our list
courses.append('Art')
print(courses)

['History', 'Math', 'Physics', 'CompSci', 'Art']

In [4]:
# to add an entire list to our existing list
courses_2 = ['Education', 'Gym']
courses.extend(courses_2)
print(courses)

['History', 'Math', 'Physics', 'CompSci', 'Art', 'Education', 'Gym']

In [5]:
# to remove an item from a list
courses.remove('History')
print(courses)

['Math', 'Physics', 'CompSci', 'Art', 'Education', 'Gym']

In [6]:
# sorting our list by ascending order
courses.sort()

# to sort our list without altering the original
sorted_list = sorted(courses)
print(sorted_list)

['Art', 'CompSci', 'Education', 'Gym', 'Math', 'Physics']

In [7]:
# min, max, sum
nums = [1, 3, 5, 6, 10, 9]
print(min(nums))
print(max(nums))
print(sum(nums))

1
10
34

In [8]:
# to find the index
print(courses.index('Gym'))

3

In [9]:
# including a delimiter within a list
course_str = ', '.join(courses)
print(course_str)

Art, CompSci, Education, Gym, Math, Physics

#### [2] Tuples (immutable)

In [10]:
tuple_1 = ('History', 'Art', 'Math') 
print(type(tuple_1))

<class 'tuple'>

#### [3] Sets (unordered and with zero duplicate values)

In [11]:
# let's create a set with braces
# includes 3 'Math' courses within our set
cs_courses = {'History', 'Math', 'Physics', 'CompSci', 'Math', 'Math'}
print(cs_courses)

{'Physics', 'CompSci', 'Math', 'History'}

#### [4] Dictionaries

In [12]:
# let's create our own dictionary object
post = {
    'user_id':209,
    'message':'Hello!',
    'language':'English'}
print(type(post))

<class 'dict'>

In [13]:
# adding a new value key
post['year'] = 2022
print(post)

{'user_id': 209, 'message': 'Hello!', 'language': 'English', 'year': 2022}

In [14]:
# capturing dictionary value by specifying the value key
print(post.get('language'))

English

In [15]:
# if value key doesn't exist - output another value
print(post.get('age'), 'does not exist')

None does not exist

#### Creating a dataframe using lists

In [16]:
# specify lists
ID = [1, 2, 3, 4, 5, 6]
Company = ['Tesla', 'Honda', 'Toyota', 'Subaru', 'Nissan', 'Ford']
Employee_Count = [10000, 100000, 500000, 20000, 6000, 900000]

# creating a dataframe based on 3 different lists
import pandas as pd
df = pd.DataFrame({
    'ID': ID,
    'Company': Company,
    'Number_of_Employees': Employee_Count
})
df.head()

   ID Company  Number_of_Employees
0   1   Tesla                10000
1   2   Honda               100000
2   3  Toyota               500000
3   4  Subaru                20000
4   5  Nissan                 6000